body{
   font-family: ;
   background-color: #141c29;
   padding-top: 80px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15%;
    height: 70px;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: aliceblue;
    box-shadow: .1rem .2rem .3rem #333;
}

h1{
    text-align: center;
    font-family: 'arial';
    margin: 30px 0px;
}

label{
    font-family: 'arial';
    font-weight: bold;
}
.form{
    width: 550px;
    margin: 0 auto;
    margin-top: 80px;
    border:  2px;
}
input{
    width: 200px;
    margin-bottom: 10px;
    padding: 8px;
    margin-right: -6px;
    background-color: #ffffff;
    border: #173441 1.8px solid;
}

fieldset{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    background-color: #2D4263;
}

button{
    background-color: #ffffff;
    width: 100px;
    border-radius: 10px;
    padding: 10px;
    margin-left:77%;
    border: none;
    font-weight: bold;
    margin-top: 10px;
}

button:hover{
    background-color: #1e3151;
}

i{
    background-color: #fdfef7;
    color: black;
    border: #173441 1px solid;
    padding: 6.8px 8px 9.8px 8px;
    border-left: white;
    margin-bottom: 10px;
}
.tab{
    border-collapse: collapse;
    text-align: center;
    font-family: 'arial';
    background-color: rgb(255, 255, 255);
    border: #173441 2px solid;
    margin: 0 auto;
    width: 500px;
    border-radius: 5px;
}
thead{
    border: #173441 2px solid;
    font-weight: bold;
}
tr{
    border: #173441 2px solid;
}
td{
    border: #173441 2px solid;   
}

